<div class="page-content bg-light">
    <section class="px-3">
            <div class="row align-center-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 start-side-content">
                    <div class="dz-bnr-inr-entry">
                        <h1>Registrarse</h1>
                        <nav aria-label="breadcrumb text-align-start" class="breadcrumb-row">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a (click)="global.setRoute('home')" style="cursor: pointer;"> Inicio</a></li>
                                <li class="breadcrumb-item">Registrarse</li>
                            </ul>
                        </nav>	
                    </div>
                    <div class="registration-media">
                        <img src="images/registration/pic3.png" alt="/">
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 end-side-content">
                    <div class="login-area">
                        <h2 class="text-secondary text-center">Registrarse</h2>
                        <p class="text-center m-b30">Bienvenido, por favor registrese</p>
                        <form>
                            <div class="m-b25">
                                <label class="label-title">Nombre de usuario</label>
                                <input name="dzName" required="" class="form-control" placeholder="Nombre de usuario" type="text">
                            </div>
                            <div class="m-b25">
                                <label class="label-title">Correo Electrónico</label>
                                <input name="dzName" required="" class="form-control" placeholder="Correo Electrónico" type="email">
                            </div>
                            <div class="m-b40">
                                <label class="label-title">Contraseña</label>
                                <div class="secure-input ">
                                    <input type="password" name="password" class="form-control dz-password" placeholder="Contraseña">
                                    <div class="show-pass">
                                        <i class="eye-open fa-regular fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a  class="btn btn-secondary btnhover text-uppercase me-2">Registrarse</a>
                                <a (click)="global.setRoute('login')" class="btn btn-outline-secondary btnhover text-uppercase">Iniciar sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
    </section>
</div>