<div class="page-content bg-light">
    <section class="content-inner z-index-unset">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 m-b30">
                    <div class="dz-blog blog-single style-1 sidebar">
                        <h1 class="dz-title">Politicas de Privacidad</h1>
                        
                        <div class="dz-info">
                            <div class="dz-post-text" style="text-align: justify;">
                                <h2>QUÉ INFORMACIÓN PERSONAL RECOPILAMOS</h2>
                                <p>Cuando visitas el Sitio, recopilamos automáticamente cierta información sobre tu dispositivo, incluida información sobre tu navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en tu dispositivo. </p> 
                                    
                                 <p>Además, a medida que navegas por el Sitio, recopilamos información sobre las páginas web individuales o los productos que ves, qué sitios web o términos de búsqueda te remiten al Sitio, e información sobre cómo interactúas con el Sitio. Nos referimos a esta información recopilada automáticamente como <span>Información del Dispositivo</span> (device information).  
                                </p>
                                <p>Recopilamos información del dispositivo utilizando las siguientes tecnologías:  </p>
                                    
                                    <li>Cookies:</li> son archivos de datos que se colocan en tu dispositivo o computadora y con frecuencia incluyen un identificador único anónimo.  
                                    <li>Archivos de registro:</li> rastrean las acciones que ocurren en el Sitio y recopilan datos, incluida tu dirección IP, el tipo de navegador, el proveedor de servicios de Internet, las páginas de referencia/salida y las marcas de fecha y hora.  
                                    
                                <p> Además, cuando efectúas una compra o intentas realizar una compra a través del Sitio, recopilamos cierta información tuya, como tu nombre, dirección de facturación, dirección de envío, información de pago, incluidos números de tarjetas de crédito <span>(menciona todos los tipos de pagos aceptados)</span>, dirección de email y el número de teléfono.<br> Esto se denomina <span>Información del Pedido</span>.  
                                    
                                    Al referirnos a <span> Información Personal </span> en esta Política de Privacidad, estamos hablando tanto de la Información del Dispositivo como de la Información del Pedido.  
                                </p>
                                <p>
                                    <span> CÓMO USAMOS TU INFORMACIÓN PERSONAL </span>  
                                    
                                    Utilizamos la Información de Pedido que recopilamos por lo general para cumplir con los pedidos realizados a través del Sitio (incluido el procesamiento de tu información de pago, la organización del envío y el envío de facturas y/o confirmaciones de pedidos).  
                                </p>
                                <p>
                                    Además, usamos esta Información del Pedido para: comunicarnos contigo, examinar nuestros pedidos para detectar posibles riesgos o fraudes, para (en línea con las preferencias que has compartido con nosotros) ofrecerte información o publicidad relacionada con nuestros productos o servicios.  
                                    
                                    Utilizamos la Información del Dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes (en particular, tu dirección IP) y, en general, para mejorar y optimizar nuestro sitio.  
                                    
                                    <span> COMPARTIENDO TU INFORMACIÓN PERSONAL </span>  
                                    
                                    Compartimos tu Información Personal con terceros para ayudarnos a utilizarla como se describió anteriormente.  
                                    
                                    También empleamos Google Analytics para ayudarnos a comprender cómo nuestros clientes usan Alicompras.<br> Cómo usa Google tu Información Personal: <a href="https://www.google.com/intl/en/policies/privacy/">Google Privacy Policy</a>.  
                                    
                                    Finalmente, también podemos compartir tu Información Personal para cumplir con las leyes y regulaciones aplicables, para responder a una citación, una orden de registro u otras solicitudes legales de información que recibimos, o para proteger nuestros derechos.  
                                    
                                    <span> PUBLICIDAD DE COMPORTAMIENTO </span>  
                                    
                                    Utilizamos tu Información Personal para proporcionarte anuncios específicos o comunicaciones de marketing que creemos que pueden ser de tu interés.  
                                    
                                  <br>  <span> TUS DERECHOS </span>  
                                    
                                    Si eres un residente europeo, tienes derecho a acceder a la información personal que tenemos sobre ti y a solicitar que tu información personal se corrija, actualice o elimine. Si deseas ejercer este derecho, por favor contáctanos.  <br>
                                    
                                    Además, si eres un residente europeo, notamos que estamos procesando tu información para cumplir con los contratos que podríamos tener contigo (por ejemplo, si realizas un pedido a través del Sitio), o de otra manera para perseguir nuestros intereses comerciales legítimos mencionados anteriormente.  
                                    
                                    Ten en cuenta que tu información se transferirá fuera de Europa, incluso a Canadá y Estados Unidos.  
                                    
                                  <br>  <span> RETENCIÓN DE DATOS </span>  
                                    
                                    Cuando realices un pedido a través del Sitio, mantendremos tu Información de Pedido para nuestros registros a menos que y hasta que nos solicites eliminar esta información.  
                                    
                                    <br>  <span> MENORES </span>  
                                    
                                    El Sitio no está destinado a personas menores de edad (EDAD CLARAMENTE MENCIONADA).  
                                    
                                  <br>  <span> CAMBIOS </span>  
                                    Podemos actualizar esta política de privacidad de vez en cuando para reflejar, por ejemplo, cambios en nuestras prácticas o por otras razones operativas, legales o reglamentarias.
                                </p>  

                            </div>
                            
                        </div>
                    </div>
                    
                </div>
           
            </div>
        </div>
    </section>
</div>
