  <div class="page-wraper">
<div class="page-content bg-light">
		
		<!--Swiper Banner Start -->
		<div class="main-slider style-3"> 
			<div class="container">
				<div class="banner-content">
					<div class="row gx-0">
						<div class="col-md-12 col-lg-8 align-self-center">
							<div class="inner-content">
								<div class="content-info">
									<h1 class="title mb-4 wow flipInX animated" data-wow-delay="0.5s">Corporación Suramericana de servicios <span>CSS.C.A.</span></h1>
									<p class="text" data-swiper-parallax="-40">Especialistas en Generadores Eléctricos + Repuestos + Servicio y Soporte Técnico.  </p>
									<div class="content-btn m-b30 wow fadeInUp" data-wow-delay="0.8s" data-swiper-parallax="-60">
										<a class="btn btn-secondary btn-lg  me-xl-3 me-2 btnhover20" (click)="global.setRoute('shop')">Ver nuestros productos</a>
										<a class="btn btn-outline-secondary btn-lg btnhover20" (click)="global.setRoute('contact')">Contactar</a>
									</div>
								</div>
							</div>
						<!-- 	<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-5 mb-3 wow fadeInUp" data-wow-delay="0.1s">
									<div class="product-card">
										<div class="dz-media">
											<img src="images/shop/small/pic1.png" alt="/">									
										</div>
										<div class="dz-content">
											<h5 class="dz-title"><a href="shop-standard.html">Collar Casual Shirt</a></h5>
											<span class="price">
												$18
												<del>$27</del>
											</span>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
									<div class="product-card">
										<div class="dz-media">
											<img src="images/shop/small/pic2.png" alt="/">									
										</div>
										<div class="dz-content">
											<h5 class="dz-title"><a href="shop-standard.html">Collar Casual Shirt</a></h5>
											<span class="price">
												$18
												<del>$27</del>
											</span>
										</div>
									</div>
								</div>
							</div> -->
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="banner-media">
								<div class="img-preview wow slideInRight" data-wow-delay="0.1s" data-wow-duration="1.5s">
									<img src="https://blog.generaclatam.com/hs-fs/hubfs/2021/hubspot/Blog/tipos%20de%20plantas%20de%20emergencia.png?width=768&name=tipos%20de%20plantas%20de%20emergencia.png" alt="banner-media">
								</div>
								<a class="icon-button popup-youtube" (click)="global.setRoute('contact')">
									<div class="text-row word-rotate-box c-black blur">
										<span class="word-rotate">Ofertas en Repuestos y más </span>
										<i class="fa-solid fa-play text-dark badge__emoji" ></i>
									</div>
								</a>
								<div class="star">
									<svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 68 68" fill="none">
									<path d="M34 0L43.6167 24.3833L68 34L43.6167 43.6167L34 68L24.3833 43.6167L0 34L24.3833 24.3833L34 0Z" fill="black"/>
								  </svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="collection1"><img style="height: 65%;" src="https://solucioneselectricas.com.py/wp-content/uploads/2024/04/generador-electrico.png" alt=""></div>
			<!-- <div class="collection2"><img src="images/collection/2.png" alt=""></div -->
			<div class="collection3"><img style="height: 80%;" src="https://d35y5t5rad2lom.cloudfront.net/images/upload/93808/card/1726960175338fb1557e2386ea95a597b91b2.56978703.jpg" alt=""></div>
		</div>
		<!--Swiper Banner End-->
	
		<!-- abouts-Secthion Start -->
		<section class="content-inner overflow-hidden bg-light-dark">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 col-md-12 m-b30">
						<div class="dz-media style-2 wow fadeInUp" data-wow-delay="0.2s">
							<img src="https://energypower.ec/wp-content/uploads/2024/07/energy-power-mantenimiento.jpg" alt="image">
						</div>
					</div>
					<div class="col-lg-8 col-md-12 m-b30">
						<div class="about-wraper   position-relative">
							<div class="section-head style-1 wow fadeInUp d-lg-flex justify-content-between align-items-center" data-wow-delay="0.4s">
								<h3 class="title ">Categorias</h3>
								<a class="service-btn-2 wow fadeInUp position-relative light  d-md-flex  d-none" data-wow-delay="0.6s" (click)="global.setRoute('shop')">
									<span class="icon-wrapper">
										<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.832 31.1663L31.1654 12.833" stroke="var(--title)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
											<path d="M12.832 12.833H31.1654V31.1663" stroke="var(--title)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
									</span>
								</a>
							</div>
							
							<div class="swiper testimonial-swiper about-swiper m-b30">
								<div class="swiper-wrapper">
									<div class="swiper-slide" *ngFor="let categoria of (realtimecategorias.categorias$ | async)">
										<div class="about-box">	
											<div class="about-img">
												<img src="{{categoria.files[0]}}" alt="image" *ngIf="categoria.files.length > 0" style="width: 50%;">
											</div>
											<div class="about-btn"><a class="btn btn-white btn-md" >{{categoria.name}}</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex gap-3">
									<div class="testimonial-button-prev">
										<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
											<path d="M36.8751 19.372H4.6659L12.288 11.9623C12.8705 11.3965 12.0066 10.4958 11.4164 11.0663C11.4164 11.0663 2.68932 19.5502 2.68932 19.5502C2.43467 19.7821 2.45495 20.2007 2.68935 20.4462C2.68932 20.4462 11.4164 28.9337 11.4164 28.9337C12.0038 29.4974 12.8725 28.6135 12.288 28.0377C12.288 28.0377 4.66308 20.622 4.66308 20.622H36.8751C37.6738 20.6144 37.7149 19.3872 36.8751 19.372Z" fill="black"/>
										</svg>
									</div>
									<div class="testimonial-button-next">
										<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
										<path d="M3.12489 19.372H35.3341L27.712 11.9623C27.1295 11.3965 27.9934 10.4958 28.5836 11.0663L37.3107 19.5502C37.5653 19.7821 37.5451 20.2007 37.3107 20.4462L28.5836 28.9337C27.9962 29.4973 27.1275 28.6135 27.712 28.0377L35.3369 20.622H3.12489C2.32618 20.6144 2.28506 19.3872 3.12489 19.372Z" fill="black"/>
										</svg>
									</div>
								</div>	
								<div class="swiper-pagination style-1 text-end swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
									<span class="swiper-pagination-bullet" tabindex="0">01</span>
									<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" aria-current="true">02</span>
									<span class="swiper-pagination-bullet" tabindex="0">03</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- abouts-Secthion End -->

		<!-- Products  Section Start-->
		<section class="content-inner">
			<div class="container">
				<div class=" row justify-content-md-between align-items-start">
					<div class="col-lg-6 col-md-12">
						<div class="section-head style-1 m-b30  wow fadeInUp" data-wow-delay="0.2s">
							<div class="left-content">
								<h2 class="title">Productos recientes</h2>
							</div>
						</div>	
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="site-filters clearfix style-1 align-items-center wow fadeInUp ms-lg-auto" data-wow-delay="0.4s">
							<ul class="filters" data-bs-toggle="buttons">
								<li class="btn me-2" [class.active]="!selectedCategory.value">
									<a (click)="selectedCategory.setValue('')" style="cursor: pointer;">Todas las categorías</a>
								</li>
								<li *ngFor="let categoria of (realtimecategorias.categorias$ | async)" 
									class="btn me-2" 
									[class.active]="selectedCategory.value === categoria.id">
									<a (click)="selectedCategory.setValue(categoria.id)" style="cursor: pointer;">{{categoria.name}}</a>
								</li>
							</ul>			
						</div>
					</div>
				</div>
				<div class="clearfix">
					<ul id="masonry" class="row g-xl-4 g-3">
						<li  *ngFor="let producto of (filteredProducts$ | async); let i = index"
						[hidden]="i >=8"
						class="card-container col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 Tops wow fadeInUp" data-wow-delay="0.6s">
						  <div class="shop-card">
							<div class="dz-media">
							  <img src="{{producto.files[0]}}" alt="image" 
							  >
							  <div class="row shop-meta">
								<a  class="col-6 btn btn-secondary btn-md btn-rounded" 
								(click)="global.setQuick(producto)"
								data-bs-toggle="modal" data-bs-target="#exampleModal">
								  <i class="fa-solid fa-eye d-md-none d-block"></i>
								  <span class="d-md-block d-none" style="cursor: pointer;">Vista Rápida</span>
								</a>
							  </div>							
							</div>
							<div class="dz-content">
							  <h5 class="title"><a >{{producto.name}}</a></h5> 
							  <h5 class="price">$USD {{producto.price}}</h5>
							</div>
						  </div>
						</li>
					  </ul>
				</div>
			</div>
		</section>
		<!-- Products Section Start-->
		  <!-- About Section Start -->
		  <section class="content-inner overflow-hidden">
			<div class="container">
			  <div class="row about-style1">
				<div class="col-lg-6 col-md-12 m-b30">
				  <div class="about-thumb wow fadeInUp  position-relative" data-wow-delay="0.2s">
					<div class="dz-media h-100">	
						<img src="https://scontent.fsmr2-1.fna.fbcdn.net/v/t39.30808-6/309389862_453043873556734_7687431916884285366_n.png?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEyE5enIazJ39IEWH6dsUZ8gT6M4EpXECqBPozgSlcQKjGM0dAUBTtOPCqhFiLR6JA&_nc_ohc=IEJnZn3YsRkQ7kNvwEPRssG&_nc_oc=AdmZrkNGsyR9On4kNUjVB6bIiimjT3S-5NU3Cwhfxg2pKElBE9HzZ2vZwNZh9Va4LxY&_nc_zt=23&_nc_ht=scontent.fsmr2-1.fna&_nc_gid=fnuijkk3_x7epu5ZC224lg&oh=00_AfESz2Ba6z_ZXaySh2AzcMf718lDNyFOBFhiJW41dffEpg&oe=681708E3" alt="image">
					</div>	
					<a (click)="global.setRoute('about')" class="btn btn-outline-secondary btn-light btn-xl">CSS.C.A.</a>	
				  </div>
				</div>
				<div class="col-lg-6 col-md-12 align-self-center">
				  <div class="about-content">
					<div class="section-head style-1 wow fadeInUp" data-wow-delay="0.4s">
					  <h3 class="title ">La Corporación Suramericana de Servicios, c.a. tienda e importadora de equipos de generación electrica.</h3>
						<p> Somos una empresa consolidada con mas de 5 años de trayectoria, experta en equipos de generación electrica, mantenimiento y venta de equipos.
						</p>
						<p>Ofresemos servicio de instalación, mantenimiento, asesoramiento y venta de equipos.</p>     
						<ul> 
						  <li>Envíos a Nivel nacional </li> 
						  <li>Amplia variedad de métodos de pago, ¡para tu mayor comodidad!</li> 
						</ul> 
						<p>¡Vive la experiencia de siempre estar con iluminación con productos de calidad!</p>
				  </div>
					<a class="service-btn-2 wow fadeInUp" data-wow-delay="0.6s" (click)="global.setRoute('about')">
					  <span class="icon-wrapper">
						<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						  <path d="M12.832 31.1663L31.1654 12.833" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						  <path d="M12.832 12.833H31.1654V31.1663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					  </span>
					</a>
					<div class="row">
					  <!-- <div class="col-lg-6 col-md-6 col-sm-6">
						<div class="shop-card style-6 wow fadeInUp" data-wow-delay="0.8s">
						  <div class="dz-media">
							<img src="https://www.2cargoxpress.com/wp-content/uploads/2023/07/joven-mensajero-su-colega-descargando-cajas-carton-furgoneta-reparto-1.jpg" alt="image">
						  </div>
						  <div class="dz-content">
							<a (click)="global.setRoute('formimport')" class="btn btn-outline-secondary btn-light btn-md">¿Quieres comprar en USA?</a>
						  </div>
						</div>
					  </div> -->
					  <div class="col-lg-6 col-md-6 col-sm-6">
						<div class="shop-card style-6 wow fadeInUp" data-wow-delay="1.0s">
						  <div class="dz-media">
							<img src="https://energypower.ec/wp-content/uploads/2024/07/Energy-Power-problemas-generador.jpg" alt="image">
						  </div>
						  <div class="dz-content">
							<a (click)="global.setRoute('shop')" class="btn btn-outline-secondary btn-light btn-md">Ver catalogo de productos</a>
						  </div>
						  <span class="sale-badge"><br>Ofertas en repuestos <img src="images/star.png" alt=""></span>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
	
		
		
	</div>
  </div>