<header class="site-header mo-left header style-1 header-transparent">		
  <!-- Main Header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix">
      <div class="container-fluid clearfix d-lg-flex d-block">
        
        <!-- Website Logo -->
        <div class="logo-header logo-dark me-md-5">
          <a (click)="global.setRoute('home')"><img src="images/logo.png" alt="logo"></a>
        </div>
        
        <!-- Nav Toggle Button -->
          <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" 
            (click)="toggleMenu()">
              <span></span>
              <span></span>
              <span></span>
          </button>

        
          <div class="mobile-buttons d-xl-none">
            <div class="extra-cell">	
              <ul class="header-right">
                <li class="nav-item cart-link">
                  <a class="nav-link cart-btn" (click)="toggleCart()">
                    <i class="iconly-Broken-Buy"></i>
                    <span class="badge badge-circle">{{ global.getUniqueItemsCount() }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      
        <!-- Main Nav -->
      
        <div class="header-nav w3menu navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
          <!-- Encabezado del menú móvil con botón de cerrar -->
          <div class="mobile-menu-header d-flex d-lg-none justify-content-between align-items-center p-3 bg-light">
            <div class="logo-header logo-dark">
              <a (click)="closeMenuAndNavigate('home')"><img src="images/logo.png" alt=""></a>
            </div>
            <button class="btn-close btn-close-black mobile-close-btn" type="button" (click)="toggleMenu()" aria-label="Cerrar" style="    background: #002446;
            opacity: 1;
            text-align: center;
            line-height: initial; 
            
            "> <i class="fa fa-close text-white"></i></button>
            
          </div>
        
          <ul class="nav navbar-nav p-3">
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('home')"><a>Inicio</a></li>
<!--             <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('about')"><a>Nosotros</a></li>
 -->            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('shop')"><a>Tienda</a></li>
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('contact')"><a>Contacto</a></li>
            <!-- <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('formimport')"><a>Solicitud de importación</a></li> -->
            <li class="has-mega-menu sub-menu-down auto-width menu-left" (click)="closeMenuAndNavigate('dashboard')" *ngIf="authService.isLogin()"><a>Dashboard</a></li>
          </ul>
          
          <div class="dz-social-icon p-3">
            <ul>
              <li><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/corpssca"></a></li>
              <li><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/css.ca/"></a></li>
              <li><a class="fab fa-youtube" target="_blank" href="https://infoguia.com/is.asp?emp=corporacion-suramericana-de-servicios-maracay&clte=24409446&ciud=51"></a></li>
              <li><a class="fab fa-whatsapp" target="_blank" href="https://api.whatsapp.com/send/?phone=584243519027&text&type=phone_number&app_absent=0" target="_blank">
              </a></li>
            </ul>
          </div>
        </div>
      
        <!-- EXTRA NAV -->
        <div class="mobile-bottom-nav">
          <div class="extra-nav">
            <div class="extra-cell">						
              <ul class="header-right">
                <li [hidden] ="authService.isLogin()" class="nav-item login-link" >
                  <a  class="nav-link" (click)="global.setRoute('login')" style="cursor: pointer;">
                    Administrar
                  </a>
                </li>
                <li [hidden] ="!authService.isLogin()" class="nav-item login-link" >
                  <a  class="nav-link" (click)="authService.logoutUser()" style="cursor: pointer;">
                    Cerrar Sesion
                  </a>
                </li>
               <!--  <li class="nav-item search-link">
                  <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <i class="iconly-Light-Search"></i>
                  </a>
                </li> -->
                <li class="nav-item cart-link">
                  <a  class="nav-link cart-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="iconly-Broken-Buy"></i>
                    <span class="badge badge-circle">{{ global.getUniqueItemsCount() }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> 
        
      </div>
    </div>
  </div>
  <!-- Main Header End -->
  
  <!-- SearchBar -->
  <div class="dz-search-area dz-offcanvas offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      &times;
    </button>
    <div class="container">
      <form class="header-item-search">
        <div class="input-group search-input">
          
          <input type="search" class="form-control" placeholder="Search Product">
          <button class="btn" type="button">
            <i class="iconly-Light-Search"></i>
          </button>
        </div>
      </form>
      
    </div>
  </div>
  <!-- SearchBar -->
  
  <!-- Sidebar cart -->
  <div class="offcanvas dz-offcanvas offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" 
  >
     <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="global.closeModal()">&times;</button>
     <div class="offcanvas-body" (click)="$event.stopPropagation()">
    <div class="product-description">
      <div class="dz-tabs">
        <ul class="nav nav-tabs center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="shopping-cart" data-bs-toggle="tab" data-bs-target="#shopping-cart-pane" type="button" role="tab" aria-controls="shopping-cart-pane" aria-selected="true">Carrito de compra
              <span class="badge badge-light">{{ global.getUniqueItemsCount() }}</span>
              </button>
            </li>
          </ul>
          <div class="tab-content pt-4" id="dz-shopcart-sidebar">
            <div class="tab-pane fade show active" id="shopping-cart-pane" role="tabpanel" aria-labelledby="shopping-cart" tabindex="0">
              <div class="shop-sidebar-cart">
               <ul class="sidebar-cart-list">
                <li *ngFor="let item of global.getCartItems()">
                  <div class="cart-widget">
                    <div class="dz-media me-3">
                      <img [src]="item.image || 'assets/images/default-product.png'" 
                           [alt]="item.name"
                           onerror="this.src='assets/images/default-product.png'">
                    </div>
                    <div class="cart-content">
                      <h6 class="title">
                        <a >{{global.previaProducto.name}}</a>
                      </h6>
                      <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center">
                          <div class="btn-quantity light quantity-sm me-3">
                            <button class="btn btn-sm btn-outline-secondary" 
                                    (click)="decreaseQuantity(item)"
                                    [disabled]="item.quantity <= 1">
                              -
                            </button>
                            <input type="text" 
                                   [value]="item.quantity" 
                                   name="quantity"
                                   readonly>
                            <button class="btn btn-sm btn-outline-secondary" 
                                    (click)="increaseQuantity(item)"
                                    [disabled]="item.quantity >= 99">
                              +
                            </button>
                          </div>
                          <h6 class="dz-price mb-0">
                            {{global.previaProducto.price | currency:'USD':'symbol':'1.2-2'}} × {{global.previaProducto.quantity}} = 
                            <strong>{{(global.previaProducto.price * global.previaProducto.quantity) | currency:'USD':'symbol':'1.2-2'}}</strong>
                          </h6>
                        </div>
                      </div>
                    </div>
                    <a class="dz-close" (click)="global.removeFromCart(item.productId); $event.stopPropagation()">
                      <i class="ti-close"></i>
                    </a>
                  </div>
                </li>
              </ul>
                <div class="cart-total">
                  <h5 class="mb-0">Subtotal:</h5>
                  <h5 class="mb-0">$ USD {{ global.getTotalPrice() }}</h5>
                </div>
                <div *ngIf="global.getCartItems().length === 0" class="empty-cart-message">
                  <i class="iconly-Broken-Buy"></i>
                  <p>Tu carrito está vacío</p>
                </div>
                <div class="mt-auto">
                  <div class="shipping-time">
                    <div class="dz-icon">
                      <i class="flaticon flaticon-delivery-truck"></i>
                    </div>
                    <div class="shipping-content">
                      <h6 class="title pe-4">Felicitaciones, usted tiene envío gratis!</h6>
                      <div class="progress">
                        <div class="progress-bar progress-animated border-0" style="width: 100%;" role="progressbar">
                          <span class="sr-only">100% Completado</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a (click)="global.setRoute('checkout')" class="btn btn-outline-secondary btn-block m-b20">Procesar compra</a>
                  <a (click)="global.setRoute('car')" class="btn btn-secondary btn-block">Ver Carrito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar cart -->

  <!-- Sidebar finter -->
  <!-- <div class="offcanvas dz-offcanvas offcanvas offcanvas-end " tabindex="-1" id="offcanvasLeft">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      &times;
    </button>
    <div class="offcanvas-body">
      <div class="product-description">
        <div class="widget widget_search">
          <div class="form-group">
            <div class="input-group">
              <input name="dzSearch" required="required" type="search" class="form-control" placeholder="Search Product">
              <div class="input-group-addon">
                <button name="submit" value="Submit" type="submit" class="btn">
                  <i class="icon feather icon-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <a href="javascript:void(0);" class="btn btn-sm font-14 btn-secondary btn-sharp">RESET</a>
      </div>
    </div>
  </div> -->
  <!-- filter sidebar -->
  
</header>