<footer class="site-footer style-1">
  
    <!-- Footer Top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="widget widget_about me-2">
              <div class="footer-logo logo-white">
                <a ><img src="images/logo.png" alt=""></a> 
              </div>
              <ul class="widget-address">
                <li>
                  <p><span>Dirección</span> : Calle carabobo, Maracay, Aragua 2103, Venezuela.
                  </p>
                </li>
                <li>
                  <p><span>Correo</span>:<a href="mailto:suramericanadeservicios&#64;gmail.com"> suramericanadeservicios&#64;gmail.com</a></p>
                </li>
                <li>
                  <p><span>Teléfono - oficina</span> : <a href="tel:+582435560297"> (0243) 5560297</a></p>
                  <p><span>Teléfono - importación</span> : <a href="tel:+17866532161"> 1 7866532161</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="widget widget_services">
              <h5 class="footer-title">Nuestra Tienda</h5>
              <ul>
                <li><a href="https://corpcssca.com/" target="_blank">Venezuela</a></li>
              </ul>   
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="widget widget_services">
              <h5 class="footer-title">Información</h5>
              <ul>
                <li><a (click)="global.setRoute('privacypolicies')" style="cursor: pointer;">Privacidad</a></li>
                <li><a (click)="global.setRoute('terms')" style="cursor: pointer;">Terminos & Condiciones</a></li>
                <li><a (click)="global.setRoute('contact')" style="cursor: pointer;">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Top End -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row fb-inner wow fadeInUp" data-wow-delay="0.1s">
          <div class="col-lg-6 col-md-12 text-start"> 
            <p class="copyright-text">© <span class="current-year">2025</span> CORPORACION SURAMERICANA DE SERVICIOS Todos los derechos reservados,  Desarrollado por <a href="https://www.buckapi.com/"> Buckapi</a> </p>
          </div>
          <div class="col-lg-6 col-md-12 text-end"> 
            <div class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
              <span class="me-3">Metodos de pago: </span>
              <img src="images/footer-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->
    
  </footer>